<h1>Take10</h1>

<h2>Welcome to Take10</h2>

<div>

<p>We're glad you decided to take a break with us today!</p>

</div>

<form action="">

<div>
    <label for="time_box">
          How much time do you have?
        </label>

        <input type="text" id="time_box" name="query_time">
</div>

<div>
    <label for="feeling_box">
          Tell us a little bit about how you're feeling: tired, unsettled, anxious...
        </label>

        <input type="text" id="feeling_box" name="query_feeling">
</div>

      <button>
        Take a break!
      </button>


</form>
